<div class="text-center text-primary title mb-3">
    <a>Obrusy i podszewki</a>
</div>

<div class="col-lg-6 mx-auto">
    <div class="row d-flex justify-content-around">
        <div class="form-group m-3">
            <input class="form-control " value="Cena">
        </div>
        <div class="form-group m-3">
            <select class="form-control" >
                <option>Rodzaj</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>

        <div class="form-group m-3">
            <button type="button" class="btn btn-outline-primary btn-lg">Zastostuj</button>
        </div>
    </div>

</div>