<div class="container mt-5">
    <div class="row" *ngIf="order">
        <div class="col-8 border">
            <app-basket-summary
                [items]="order.orderItems"
                [isBasket]="false"
            >
            </app-basket-summary>
        </div>
        <div class="col-4">
                <app-order-totals
                    [Shipping]="order.shippingPrice"
                    [Subtotal]="order.subtotal"
                    [Total]="order.total"
                >
                </app-order-totals
                >
        </div>
    </div>
</div>