<div class="mt-4" [formGroup]="checkoutForm">
        <h3 class="text-primary">Dane odbiorcy</h3>

    <div class="row mt-3" formGroupName="addressForm">
        <div class="form-group col-6">
            <app-text-input [label]="'Imię'" formControlName="firstName"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Nazwisko'" formControlName="lastName"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Ulica i numer domu'" formControlName="street"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Miasto'" formControlName="city"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Państwo'" formControlName="country"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Kod pocztowy'" formControlName="zipcode"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Numer telefonu'" formControlName="phone"></app-text-input>
        </div>
    </div>
</div>

<div class="dropdown-divider mt-5"></div>

<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-lg btn-outline-primary m-2" routerLink="/basket">
        <i class="fa fa-angle-left"></i> Wróć do koszyka
    </button>
    <button  class="btn btn-lg btn-primary m-2" cdkStepperNext>
        Sposób doręczenia <i class="fa fa-angle-right"></i> 
    </button>
</div>