<div class="p-4 " [formGroup]="checkoutForm">

    <div class="row " formGroupName="addressForm">
        <div class="form-group col-6 p-1">
            <app-text-input [label]="'Imię'" formControlName="firstName" ></app-text-input>
        </div>
        <div class="form-group col-6 p-1">
            <app-text-input [label]="'Nazwisko'" formControlName="lastName" ></app-text-input>
        </div>
        <div class="form-group col-6 p-1">
            <app-text-input [label]="'Ulica i numer'" formControlName="street"></app-text-input>
        </div>
        <div class="form-group col-6 p-1">
            <app-text-input [label]="'Miasto'" formControlName="city"></app-text-input>
        </div>
        <div class="form-group col-6 p-1">
            <app-text-input [label]="'Państwo'" formControlName="country"></app-text-input>
        </div>
        <div class="form-group col-6 p-1">
            <app-text-input [label]="'Kod pocztowy'" formControlName="zipcode"></app-text-input>
        </div>
        <div class="form-group col-6 p-1">
                <app-text-input [label]="'E-mail'" formControlName="email" [type]="'email'"></app-text-input>
        </div>
        <div class="form-group col-6 p-1">
            <app-text-input [label]="'Numer telefonu'" formControlName="phone" [type]="'phone'"></app-text-input>
        </div>
    </div>
</div>

<div class="dropdown-divider mt-3"></div>

<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-outline-primary  m-2" routerLink="/koszyk">
        <i class="fa fa-angle-left"></i> Wróć do koszyka
    </button>
    <button  class="btn btn-success btn-lg m-2" cdkStepperNext>
        Sposób doręczenia <i class="fa fa-angle-right"></i> 
    </button>
</div>