<div class="p-4">
    <div>
        <h4 class="text-primary mb-2 font-weight-normal">W jaki sposób odbywa się płatność?</h4>
        <hr>
        <p>
            Po zatwierdzeniu, twoję zamówienię trafi na moją listę zleceń.<br><br>
            <span class="text-primary font-weight-normal">Przed rozpoczęciem</span>  pracy skontaktuje się z tobą telefonicznie, aby potwierdzić twoję zamówienie. 
            <br>
            <br>
            <span class="text-primary font-weight-normal">Po ukończeniu</span> zamówienia otrzymasz informację o gotowości firan, a następnie poproszę cię o opłacenie zamówienia na konto wskazane  
            <a style="font-size: large; font-weight: 400;" class="text-primary text-decoration-none" routerLink="/informacje/dostawa-platnosc">Tutaj</a>
            <br>
            <br>
        </p>
         <hr>
        <p class="text-success">
            Po zaksięgowaniu wpłaty paczuszka zostanie wysłana pod twój adres!
        </p>
        <hr>
    </div>
</div>



<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5 ">
   
    <button class="btn btn-outline-primary m-2" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> Wybrane przedmioty
    </button>
    <button  class="btn btn-lg btn-success m-2" (click)="submitOrder()" [disabled]="!checkoutForm.valid"> 
        Potwierdź zamówienie
    </button>
</div>