<div class="container ">
    <div *ngIf="(basket$ | async) === null">
        <p>Nie ma żadnych przedmiotów w koszyku</p>
    </div>
    
    <div *ngIf="basket$ | async">
        <div class="pb-3">
            <div class="row">
                <div class="col-12  mb-1">
                     <app-basket-summary
                         (decrement)="decrementItemQuantity($event)"
                         (increment)="incrementItemQuantity($event)"
                         (remove)="removeBasketItem($event)"
                         [items]="(basket$ | async).items"
                     ></app-basket-summary>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 ml-auto">
                   <app-order-totals
                   *ngIf="(basketTotal$ | async)"
                   [Shipping]="(basketTotal$ | async).shipping"
                   [Subtotal]="(basketTotal$ | async).subtotal"
                   [Total]="(basketTotal$ | async).total"
                   ></app-order-totals>

                   <a routerLink="/checkout" class="btn btn-lg btn-success mt-3 btn-block">Przejdz do formularza</a>
                   <br>
                   <br>
                </div>
            </div>
        </div>
    </div>
</div>
