.navbar {
    font-size: 1.3em;
    font-weight: 350;
    
}
.link {
    text-decoration: none;
    color:#6c757d;
}

.basket {
    font-size: large;;
}

.cart-no {
    position: absolute;
    min-height: 30px;
    min-width: 30px;
    border-radius: 50%;
    font-size: 1.2em;
    background:blanchedalmond;
    color:#6c757d;
    text-align: center;
    top: -16px;
    right: 18px;
}