<nav ngxNavbarDynamicExpand class="fixed-top navbar-light bg-white border-bottom shadow-sm ">


  <img src="/assets/images/logo4.png" routerLink="/" class="logo border" style="height: 60px;" alt="logo"
    class="d-none d-lg-block">

  <button class="navbar-toggler" type="button" (click)="collapse.toggle()" aria-controls="main-nav"
    aria-expanded="false">
    <span class="navbar-toggler-icon d-flex align-items-center justify-content-center"></span>
  </button>

  <div class="d-lg-none d-flex align-items-center">
    <div style="border-right: 1px solid #aaa;" class="mr-3">
      <a routerLink="/basket" class="position-relative mr-4">
        <i class="fa fa-shopping-cart icon-basket" style="color: #008CBA;"></i>
        <div *ngIf="(basket$ | async)" class="cart-no">{{(basket$ | async).items.length}}</div>
      </a>
    </div>

    <ng-container *ngIf="(currentUser$ | async) === null">
      <div class="dropdown" dropdown>
        <a class="dropdown-toggle" style="cursor: pointer;" dropdownToggle>
          <a><i class="fa fa-user-o  icon-user"></i></a>
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
          <a routerLink="/account/login" class="dropdown-item d-flex align-items-center">Zaloguj</a>
          <a routerLink="/account/register" class="dropdown-item d-flex align-items-center">Rejestracja</a>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="currentUser$ | async">
      <div class="dropdown" dropdown>
        <a class="dropdown-toggle" style="cursor: pointer" dropdownToggle>
          <a><i style="color: #0791b7;" class="fa fa-user-o icon-user"></i></a>
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
          <a routerLink="/basket" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-shopping-cart mr-3"></i> Koszyk
          </a>
          <a routerLink="/orders" class="dropdown-item d-flex align-items-center py-2 ">
            <i class="fa fa-history mr-3"></i> Zamówienia
          </a>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-sign-out mr-3"></i> Wyloguj
          </a>
        </div>
      </div>
    </ng-container>

  </div>



  <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
    <ul class="navbar-nav ml-3 py-3">
      <li class="d-block d-lg-none nav-item " (click)="collapse.close()">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Strona główna</a>
      </li>
      <li class="nav-item" (click)="collapse.close()">
        <a class="nav-link " routerLink="/shop" routerLinkActive="active">Firany</a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a class="nav-link dropdown-toggle" style="cursor: pointer;" id="navbardrop" routerLinkActive="active"
          data-toggle="dropdown" dropdownToggle>Informacje</a>
        <div class="dropdown-menu" *dropdownMenu (click)="collapse.close()">
          <a class="dropdown-item" routerLink="/information/aboutme">O mnie</a>
          <a class="dropdown-item" routerLink="/information/delivery-payments">Płatność</a>
          <a class="dropdown-item" routerLink="/information/regulations">Regulamin</a>
          <a class="dropdown-item" routerLink="/information/privacypolicy">Polityka prywatności</a>
        </div>
      </li>
    </ul>
  </ngx-navbar-collapse>

  <div class="d-none d-lg-flex align-items-center">
    <div style="border-right: 1px solid #aaa;" class="mr-3">
      <a routerLink="/basket" class="position-relative mr-4">
        <i class="fa fa-shopping-cart icon-basket" style="color: #008CBA;"></i>
        <div *ngIf="(basket$ | async)" class="cart-no">{{(basket$ | async).items.length}}</div>
      </a>
    </div>

    <ng-container *ngIf="(currentUser$ | async) === null">
      <button routerLink="/account/login" type="button" class="btn btn-info  mr-2">Zaloguj</button>
      <button routerLink="/account/register" type="button" class="btn btn-info mr-3">Rejestracja</button>
    </ng-container>

    <ng-container *ngIf="currentUser$ | async">
      <div class="dropdown" dropdown>
        <a class="dropdown-toggle" style="cursor: pointer" dropdownToggle>
          <a style="font-size: large; font-weight: 400;">Witaj {{(currentUser$ | async).displayName}}</a>
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
          <a routerLink="/basket" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-shopping-cart mr-3"></i> Koszyk
          </a>
          <a routerLink="/orders" class="dropdown-item d-flex align-items-center py-2 ">
            <i class="fa fa-history mr-3"></i> Zamówienia
          </a>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-sign-out mr-3"></i> Wyloguj
          </a>
        </div>
      </div>
    </ng-container>

  </div>
</nav>