<div class="card m-3">
    <img class="card-img-top" src="../../assets/JAK-UPIĄĆ-FIRANY-ABY-WYGLĄDAŁY-MODNIE-I-NOWOCZEŚNIE.jpg">
    <div class="card-body p-2">
        <div class="d-flex justify-content-between">
            <div class="p-0">
                <h4>{{curtain.name}}</h4>
                <p class="lead">Wys: {{curtain.height}}cm | Szer: {{curtain.width}}cm</p>
            </div>
            <div class="p-2">
                <h4 class="text-primary">{{curtain.price}} zł</h4>
            </div>
        </div>    
    </div>
</div>