.title {
    font-size: 3.2em;
    font-weight: lighter;
    color: #0091a1 ;
}

.form-control {
    width: 15em;
    border: none;
    border-bottom: 1px solid #DDD;
}

@media (min-width: 575px) { 
.title::before {
    content: '';
    display: inline-block;
    border-top: 1.5px solid #DDD;
    width: 10%;
    padding-top: 15px;
    margin: 0px 10px 0px 0px ;
}
.title::after {
    content: '';
    display: inline-block;
    border-top: 1.5px solid #DDD;
    width: 10%;
    padding-top: 15px;
    margin: 0px 0px 0px 10px ;
}
}


.form-control {
    width: 15em;
    border: none;
    border-bottom: 1px solid #DDD;
}

.custom {
    width: 15em;
}

.fa-shopping-basket {
    font-size: xx-large;
    color: #DDD;
}


