.small_label::before {
    content: '';
    display: inline-block;
    border-top: 1px solid #DDD;
    width: 40px;
    padding-top: 4px;
    margin: 0px 5px 0px 0px ;
}
.small_label::after {
    content: '';
    display: inline-block;
    border-top: 1px solid #DDD;
    width: 40px;
    padding-top: 4px;
    margin: 0px 0px 0px 5px ;
}
.img-start {
    height: 20em;
    width: 40em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.card {
    margin-left: auto;
    margin-right: auto;
    border: none;
}


.img-new {
    max-height: 18em;
    max-width: 26em;
}


.small_card {
    border: 1px solid #DDD;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    margin-bottom: 1em;
}
.fa {
    font-size: 3em;
    color: #DDD;
    margin: 0.3em;
    
}
.lead {
    margin: auto;
    font-size: x-large;
}

