.featured {
    height: 250px;
}


img {
    @media (max-width: 600px){
        height: 200px;
        background-size:cover ;
    }
    @media (min-width: 600px){
        height: auto;
        width: 100%;
    }
}

a img{border:none;}

.line::before {
    content: '';
    display: inline-block;
    border-top: 2.5px solid #DDD;
    width: 60px;
    padding-top: 4px;
    margin: 0px 9px 0px 0px ;
}

.line::after {
    content: '';
    display: inline-block;
    border-top: 2.5px solid #DDD;
    width: 60px;
    padding-top: 4px;
    margin: 0px 0px 0px 9px ;
}