<nav ngxNavbarDynamicExpand class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  

   <a class="text-title" [routerLink]="['']">Panienka z okienka</a>
  
  

  <button class="navbar-toggler ml-auto" type="button" (click)="collapse.toggle()" aria-controls="main-nav" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
    <ul class="navbar-nav ">
      
      <li class="nav-item  m-2" routerLinkActive="active">
        <a class="nav-link " [routerLink]="['/firany']">Firany</a>
      </li>

      <li class="nav-item  m-2" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/obrusy-i-poszewki']">Obrusy i podszewki</a>
      </li>

      <li class="nav-item  m-2" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/zaslony']">Zasłony</a>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto align-items-center">
      <li class="nav-item text-center " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/koszyk']"> <i class="fa fa-shopping-basket mx-2" aria-hidden="true"></i></a>
      </li>

    
      <li class="nav-item  text-center" routerLinkActive="active">
        <a class="nav-link " [routerLink]="['/zaloguj']"> <i class="fa fa-user-o mx-2" aria-hidden="true"></i></a>
      </li>
    </ul>

   </ngx-navbar-collapse>
   
</nav>


