<nav class="navbar navbar-expand-lg navbar-light bg-light border">
 
  <div class="collapse navbar-collapse  " >
    <ul class="navbar-nav h5 mx-auto align-items-center">
       <li class=" nav-item active m-2 h3" style="font-weight: 200;">
        <a class="nav-link text-primary" [routerLink]="['']" >Panienka z okienka</a>
       </li>
      
      <li class="nav-item  m-2" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/firany']">Firany</a>
      </li>
      <li class="nav-item  m-2" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/obrusy-i-poszewki']">Obrusy i podszewki</a>
      </li>

      <li class="nav-item  m-2" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/zaslony']">Zasłony</a>
      </li>

      <li class="nav-item  m-2" routerLinkActive="active">
        <a class="nav-link " [routerLink]="['/promocje']">Wyprzedaż</a>
      </li>
      <li class="nav-item m-2 ">
        <a class="nav-link " href="#">Kontakt</a>
      </li>
    </ul>

  </div>
</nav>