<div class="col-10 mx-auto ">
    <div class="row">
        <section class="d-none d-lg-block col-2 mb-3">
            <ng-container *ngIf="types && rooms">
                <h4 class="text-primary">Sortuj</h4>
                <select class="custom-select mb-3" (change)="onSortSelected($event.target.value)">
                    <option *ngFor="let sort of sortOptions" [value]="sort.value">
                        {{sort.name}}
                    </option>
                </select>
                
        
        
                <h4 class="text-primary">Rodzaj</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action" style="cursor: pointer;" *ngFor="let type of types" [class.active]="type.id === this.shopParams.typeId"
                        [value]="type.id" (click)="onTypeSelected(type.id)">
                        <h6 class="m-1">
                            {{type.name}}
                        </h6>
                    </li>
                </ul>
        
                <h4 class="text-primary mt-3">Pokój</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-action" style="cursor: pointer;" *ngFor="let room of rooms" [class.active]="room.id === this.shopParams.roomId"
                        [value]="room.id" (click)="onRoomSelected(room.id)">
                        <h6 class="m-1">
                            {{room.name}}
                        </h6>
                    </li>
                </ul>



            </ng-container>
        </section> 
        <section class="d-md-block d-lg-none col-12 mb-4">
            <button type="button" class="btn btn-block btn-info" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                aria-controls="multiCollapse1 multiCollapse2"><span class="h5">Filtruj <i class="fa fa-angle-down"></i></span>
            </button>
            <hr>
            <div class="row">
                <div class="col-6 p-1">
                    <div id="multiCollapse1" class="text-center" [collapse]="isCollapsed" [isAnimated]="true">
                        <div class="dropdown" dropdown>
                            <button dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle btn-block" aria-controls="dropdown-animated"
                            aria-controls="dropdown-basic1">
                                Rodzaj
                           </button>
                           <ul id="dropdown-basic1" *dropdownMenu class="dropdown-menu shadow-sm" aria-labelledby="button-basic1">
                            <li *ngFor="let type of types" 
                                [value]="type.id" (click)="onTypeSelected(type.id)">
                                <a class="dropdown-item" [class.active]="type.id === this.shopParams.typeId" >
                                    {{type.name}}
                                </a>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
                <div class="col-6 p-1">
                    <div id="multiCollapse2" class="text-center" [collapse]="isCollapsed" [isAnimated]="true">
                        <div class="dropdown" dropdown>
                            <button id="button-basic2" dropdownToggle type="button" class="btn btn-outline-primary dropdown-toggle btn-block" aria-controls="dropdown-animated"
                            aria-controls="dropdown-basic2">
                                 Pokój
                            </button>
                            <ul id="dropdown-basic2" *dropdownMenu class="dropdown-menu shadow-sm" aria-labelledby="button-basic2">
                                <li *ngFor="let room of rooms" 
                                    [value]="room.id" (click)="onRoomSelected(room.id)">
                                    <a class="dropdown-item" [class.active]="room.id === this.shopParams.roomId" >
                                        {{room.name}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="col-lg-10">
            <div class="d-none d-lg-flex justify-content-between align-items-center pb-2">
               
                <app-paging-header
                [totalCount]="totalCount"
                [pageSize]="this.shopParams.pageSize"
                [pageNumber]="this.shopParams.pageNumber">
                </app-paging-header>

                <div class="form-inline mt-2" *ngIf="products">
                    <input (keyup.enter)="onSearch()" class="form-control" style="width: 300px;" #search placeholder="Search" type="text">
                    <button (click)="onSearch()" type="button" class="btn btn-primary my-2">Szukaj</button>
                    <button (click)="onReset()" type="button" class="btn btn-warning ml-2">Reset</button>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 mb-4" *ngFor="let product of products">
                    <app-product-item [product]="product"></app-product-item>
                </div>
            </div>

            

            <div class="mx-auto">
                <app-pager 
                [pageSize]="shopParams.pageSize"
                [pageNumber]="shopParams.pageNumber"
                [totalCount]="totalCount"
                (pageChanged)="onPageChanged($event)"
                ></app-pager>
            </div>
        </section>
    </div>
</div>