<div class="col-10 mx-auto ">
    <div class="row">
        <section class="d-none d-lg-block col-2 mb-3">
            <ng-container *ngIf="types && rooms">
                <h5 class="text-primary mt-3"><strong>Sortuj</strong></h5>
                <select class="custom-select mb-3" (change)="onSortSelected($event.target.value)">
                    <option *ngFor="let sort of sortOptions" [value]="sort.value">
                         <h6>{{sort.name}}</h6>
                    </option>
                </select>
                
        
        
                <h5 class="text-primary mt-4"><strong>Rodzaj</strong></h5>
                <ul class="list-group list-group-flush shadow-sm">
                    <li class="list-group-item list-group-item-action" style="cursor: pointer;" *ngFor="let type of types" [class.active]="type.id === this.shopParams.typeId"
                        [value]="type.id" (click)="onTypeSelected(type.id)">
                        <p class="m-0 font-weight-normal" >
                            {{type.name}}
                        </p>
                    </li>
                </ul>
        
                <h5 class="text-primary mt-4"><strong>Pokój</strong></h5>
                <ul class="list-group list-group-flush shadow-sm">
                    <li class="list-group-item list-group-item-action" style="cursor: pointer;" *ngFor="let room of rooms" [class.active]="room.id === this.shopParams.roomId"
                        [value]="room.id" (click)="onRoomSelected(room.id)">
                        <p class="m-0 font-weight-normal">
                            {{room.name}}
                        </p>
                    </li>
                </ul>



            </ng-container>
        </section> 
        <section class="d-md-block d-lg-none col-12 ">
            <button type="button" class="btn btn-block btn-sm btn-info mt-4" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                aria-controls="multiCollapse1 multiCollapse2"><span class="h5">Filtruj <i class="fa fa-angle-down"></i></span>
            </button>
            <hr>
            <div class="row">
                <div class="col-6 p-1">
                    <div id="multiCollapse1" class="text-center" [collapse]="isCollapsed" [isAnimated]="true">
                        <div class="dropdown" dropdown>
                            <button dropdownToggle type="button" class="btn btn-sm btn-outline-primary dropdown-toggle btn-block" aria-controls="dropdown-animated"
                            aria-controls="dropdown-basic1">
                                Rodzaj
                           </button>
                           <ul id="dropdown-basic1" *dropdownMenu class="dropdown-menu shadow-sm" aria-labelledby="button-basic1" (click)="isCollapsed = !isCollapsed">
                            <li *ngFor="let type of types" 
                                [value]="type.id" (click)="onTypeSelected(type.id)">
                                <a class="dropdown-item" [class.active]="type.id === this.shopParams.typeId" >
                                    {{type.name}}
                                </a>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
                <div class="col-6 p-1">
                    <div id="multiCollapse2" class="text-center" [collapse]="isCollapsed" [isAnimated]="true">
                        <div class="dropdown" dropdown>
                            <button id="button-basic2" dropdownToggle type="button" class="btn btn-sm btn-outline-primary dropdown-toggle btn-block" aria-controls="dropdown-animated"
                            aria-controls="dropdown-basic2">
                                 Pokój
                            </button>
                            <ul id="dropdown-basic2" *dropdownMenu class="dropdown-menu shadow-sm" aria-labelledby="button-basic2" (click)="isCollapsed = !isCollapsed">
                                <li *ngFor="let room of rooms" 
                                    [value]="room.id" (click)="onRoomSelected(room.id)">
                                    <a class="dropdown-item" [class.active]="room.id === this.shopParams.roomId" >
                                        {{room.name}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="col-lg-10">
            <div class="d-none d-lg-flex justify-content-end pb-2">
               
                <div class="form-group has-search mt-3" *ngIf="products">
                    <span (click)="onSearch()" class="fa fa-search form-control-feedback"></span>
                    <input (keyup.enter)="onSearch()" type="text" style="width: 300px;" class="form-control" #search placeholder="Szukaj">
                </div>

            </div>

            <div class="row mb-4">
                <div class="col-lg-4 mb-4 p-2 " *ngFor="let product of products">
                    <app-product-item [product]="product"></app-product-item>
                </div>

                
                        <app-pager class="mx-auto"
                        [pageSize]="shopParams.pageSize"
                        [pageNumber]="shopParams.pageNumber"
                        [totalCount]="totalCount"
                        (pageChanged)="onPageChanged($event)"
                        ></app-pager>


            </div>

            

        </section>
    </div>
</div>