<div class="container mt-4">
    <div class="text-primary">
        <h1 class="font-weight-normal">Firany na miarę</h1>
    </div>
   <br>

    <p>
       Firany na stronie oraz ich rozmiar są to moje dzieła jakie do tej pory zrealizowałam. Moja praca opiera się głównie na zamówieniach pod wymiar dlatego 
       jeśli spodobał ci się któryś z dotychczasowo dostępnych na stronie wzorów, możesz bardzo łatwo ustawić swój wymiar, następnie dodać dany wzór z podanymi wymiarami do koszyka, klikając w zielony przycisk 
        <button class="btn btn-sm btn-success">Zmień rozmiar</button>. Następnie zapisz podany rozmiar przyciskiem <button class="btn btn-sm btn-warning">Zapisz rozmiar</button>.

        <br>
        <br>
        <br>

       Materiały wykończeniowe oraz ich kolor jaki widać na zdjęciu również mogę dopasować, wystarczy że poinformujesz mnie o tym pisząc do mnie poprzez messengera którego ikonkę widzimy w prawym dolnym rogu. 
       Możesz również czatować ze mną bezpośrednio na facebooku, wystarczy że wyślesz wiadomość na moją główną strone <a class="text-primary" href="https://www.facebook.com/Panienka-z-okienka-330003794231828">Link tutaj</a>. 
       Po wyświetleniu się twojej wiadomości postaram się jak najszybciej na nią odpowiedzieć i udzielić ci bezpłatnych porad, jako krawcowa z doświadczeniem.


        
        
    </p>



</div>