<header>
    <span *ngIf="totalCount && totalCount > 0">
        Pokaż 
        <strong>
            {{(this.pageNumber-1) * this.pageSize+1}} - 
            {{this.pageNumber*this.pageSize
               > this.totalCount 
               ? this.totalCount
               : this.pageNumber*this.pageSize
            }}
        </strong>
         z 
         <strong>{{totalCount}}</strong>
          elementów
    </span>
    <span *ngIf="totalCount === 0">
        Nie posiadamy produtków do tego filtru
    </span>

</header>
