footer {
    background-color: #f9f9f9b0;
    border-top: .05rem solid #e5e5e5;
    padding: 1em 0;
    
}

a {
    font-size: large;
    cursor: pointer;
    color: black;
    font-weight: 200;
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    text-decoration:none;
}

.fa {
    font-size: 2.3em;
    color: #31708f;
}