<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <div class="container-login">

            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="mb-3">
                <div class=" text-center m-2 mb-4">
                    <div class="h3">Rejestracja</div>
                </div>

                <app-text-input formControlName="displayName" [label]="'Nazwa użytkownika'"></app-text-input>
                <app-text-input formControlName="email" [label]="'Adres Email'"></app-text-input>
                <app-text-input formControlName="password" [label]="'Hasło'" [type]="'password'"></app-text-input>
                
                
                 
                <button [disabled]="registerForm.invalid" class="btn btn-primary my-2 btn-block btn-lg" type="submit">Rejestracja</button>
            </form>
            <div class="text-center">
                <p>Masz już konto? <a [routerLink]="['/account/login']">Zaloguj się!</a></p>
            </div>
        </div>
    </div>
</div>