<div class="container mt-4">
   <div class="text-center text-primary">
     <h2 class="font-weight-normal">Regulamin</h2>
   </div>
    <div>
      Wstęp
    </div>
    <div>
      1. "Panienka z okienka"
    </div>
    <br>
    <br>
    <div class="col-lg-5 mx-auto mt-4">
        <h3 class="text-center text-primary font-weight-normal">Kontakt do mnie:<br></h3>
        <p >E-mail: panienkazokienka.info@gmail.com <br></p>
        <p>Telefon: 601956515 <br></p>
        <p>Jestem dostępna:<br>
        Od poniedziałku do piątku 
        w godzinach 09:00 - 17:00 </p>  
        <p>Odwiedź mnie też na facebooku: 
           <a class="text-center" href="https://www.facebook.com/Pi%C4%99kniejszy-dom-330003794231828"><i class="fa fa-facebook-f fa-3x"></i></a>
        </p>
        
    </div>
   
</div>

