<div class="container-login">
    <div class="login shadow-lg border" >
        <form #loginForm="ngForm"  class="mb-3" > 
            <div class=" text-center m-2 mb-4">
                <div class="title">Zaloguj się!</div>
            </div>
            <div class="form-group">
                <input class="form-control form-control-lg" type="text" placeholder="Użytkownik" required autocomplete="off">
            </div>
            
            <div class="form-group">
                <input class="form-control form-control-lg" type="password" placeholder="Hasło" required autocomplete="off">
            </div>

            
           <button [disabled]="!loginForm.valid" class="btn btn-primary my-2 btn-block btn-lg" type="submit">Zaloguj</button>
        </form>
           <div class="text-center">
               <p>Nie masz jeszcze konta? <a [routerLink]="['/rejestracja']">Zarejestruj się!</a></p>
           </div>
    </div>
</div>