<div class="text-center text-primary title mb-3">
    <a>Firany</a>
</div>


<div class="col-lg-8 mx-auto mb-3">
    <form #form="ngForm" (ngSubmit)="LoadCurtains()">
        <div class="row d-flex justify-content-around align-items-center">

            <div class="form-group m-3  ">
                <i class="fa fa-shopping-basket mr-2"></i>
                <ngx-slider class="custom m-2" [(value)]="minValue"  [(highValue)]="maxValue"  [options]="options"  >
                </ngx-slider>
            </div>

            <div class="form-group m-3">
                <ng-select class="custom" [items]="rooms" name="room" bindLabel="name" bindValue="value"
                    placeholder="Pokój" [(ngModel)]="curtainParams.room">
                </ng-select>
            </div>

            <div class="form-group m-3">
                <ng-select class="custom" [items]="materials" name="material" bindLabel="name" bindValue="value"
                    placeholder="Materiał" [(ngModel)]="curtainParams.material">
                </ng-select>
            </div>

            <div class="form-group m-3">
                <button type="button" class="btn btn-outline-primary " type="submit">Zastostuj</button>
            </div>

        </div>
    </form>
</div>


<div class="col-md-11 mx-auto">
    <div class="row">
        <div *ngFor="let curtain of curtains" class="mx-auto">
            <app-curtain-card [curtain]='curtain'></app-curtain-card>
        </div>
    </div>

    <div class="row">
        <pagination class="mx-auto mb-4"  [boundaryLinks]="true"
        [totalItems]="pagination.totalItems" 
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage" 
        (pageChanged)="pageChanged($event)"
        [maxSize]="maxSize"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" 
        lastText="&raquo;" >
       </pagination>
    </div>
</div>

