<div class="p-4" [formGroup]="checkoutForm">
    

    <h4 class=" font-weight-normal text-primary">
        Sposób dostarczenia:
    </h4>
    <div class="row px-4 mt-4" formGroupName="deliveryForm">
        <div class="col-12  form-group" *ngFor="let method of deliveryMethods">
            <input type="radio" id={{method.id}} 
            (click)="setShippingPrice(method)" value={{method.id}}
            formControlName="deliveryMethod" 
            class="custom-control-input">
            <label for="{{method.id}}" 
                class="custom-control-label">
                <span>{{method.shortName}} - {{method.price}}.00 zł</span>
            </label>
        </div>
    </div>
</div>

<div class="dropdown-divider mt-3"></div>
<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5 ">
    <button class="btn  btn-outline-primary m-2" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> Dane odbiorcy
    </button>
    <button  class="btn btn-lg btn-success m-2" cdkStepperNext>
        Wybrane przedmioty <i class="fa fa-angle-right"></i> 
    </button>
</div>