<div class="mt-4" [formGroup]="checkoutForm">
    <h3 class="text-primary">Wybierz metode dostarczenia</h3>
    <p class="lead">Opłata za zamówienie jest podzielona na 2 raty. Pierwszę płatność płacimy przed rozpoczęciem szycia, 
        a drugą po wykonaniu zamówienia. Wykonanie potwierdzamy zdjęciami.</p>
    <div class="row px-4 mt-4" formGroupName="deliveryForm">
        <div class="col-12  form-group" *ngFor="let method of deliveryMethods">
            <input type="radio" id={{method.id}} 
            (click)="setShippingPrice(method)" value={{method.id}}
            formControlName="deliveryMethod" 
            class="custom-control-input">
            <label for="{{method.id}}" 
                class="custom-control-label">
                <span>{{method.shortName}} - {{method.price}}.00 zł</span>
                <br>
                <span>{{method.deliveryTime}}</span>
            </label>
        </div>
    </div>
</div>

<div class="dropdown-divider mt-5"></div>
<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5 ">
    <button class="btn btn-lg btn-outline-primary m-2" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> Dane odbiorcy
    </button>
    <button  class="btn btn-lg btn-primary m-2" cdkStepperNext>
        Wybrane przedmioty <i class="fa fa-angle-right"></i> 
    </button>
</div>