<div class="container mt-4">

    <div class="text-center text-primary mb-3">
        <h1>Informacje dotyczące zakupu</h1>
    </div>
    <h2 class="text-primary">Czas oczekiwania</h2>
    <p class="text-center">
      Hej! na początku chciałabym cię przeprosić za tak długi czas realizacji a jest to spowodowane moimi innymi zamówieniami jakie na bieżąco otrzymuję

      Czas realizacji to około 30-55 dni, zależne od ilości zamówień na ten moment.
    </p>
    <h2 class="text-primary">Płatność</h2>
    <p class="text-center">
        Po otrzymaniu zamówienia trafi ono na moją listę, gdzie będzie czekało na swoją kolej. 
        Lecz kilka dni przed rozpoczęciem realizacji twojego zamówienia,
        Skontaktuję się z tobą w celu pobrania zaliczki w wysokości 50% kwoty zamówienia,
        natomiast drugie 50% po wykonaniu całości zamówienia. Oczywiścię wyślę ci zdjęcia potwierdzające gotowe firany.
        Po otrzymaniu drugiej wpłaty paczka wysyłana jest bezpośrednio na adres który podałaś w zamówieniu (chyba że chcesz go zmienić proszę poinformuj mnie o tym).
    </p>
    <p>
        Wybacz, lecz taki sposób płatności jest najrozsądniejszy dla mnie i was. Ponieważ zostało u mnię bardzo dużo zamówionych lecz nie opłaconych firan,
        z którymi nie mam co robić.
    </p>


    <div class="col-lg-5 mx-auto mt-4">
        <h4 class="text-center text-primary">Kontakt do mnie:<br></h4>
        <p >E-mail: panienkazokienka.info@gmail.com <br></p>
        <p>Telefon: 601956515 <br></p>
        <p>Jestem dostępna:<br>
        Od poniedziałku do piątku 
        w godzinach 09:00 - 17:00 </p>  
        <p>Odwiedź mnie też na facebooku: 
           <a class="text-center" href="https://www.facebook.com/Pi%C4%99kniejszy-dom-330003794231828"><i class="fa fa-facebook-f fa-3x"></i></a>
        </p>
        
    </div>
   
</div>