<div class="container mt-4">
    <h3 class="text-primary font-weight-normal">Czas oczekiwania</h3>
 
        <p>
            Hej! na początku chciałabym cię przeprosić za tak długi czas realizacji a jest to spowodowane wszystkimi zamówieniami jakie otrzymuję, oraz ich realizacją.
        </p>
        <p>
            Czas realizacji zazwyczaj to około 2-3 tygodnie, zależne od ilości zamówień na dany moment.
        </p>
           
        <br>
        <br>
   
    <h3 class="text-primary font-weight-normal">Płatność</h3>
  
        Po złożeniu zamówienie trafi na moją listę, gdzie będzie czekało na swoją kolej. Natomiast Ty otrzymasz potwierdzenie zamówienia na maila z numerem zamówienia, oraz kwotą końcową.
        <br>
        <br>
    <p>
        <span class="text-warning">Dzień przed rozpoczęciem pracy,</span> skontaktuję się z tobą w celu potwierdzenia zamówienia.<br><br>

        <span class="text-success">Po ukończeniu zamówienia</span>, zostaniesz o tym poinformowana/ny telefonicznie oraz postaram się wysyłać zdjęcia gotowych firan. 
        <br>
    </p>
    <hr>
        <span class="h5 text-primary">Zależne od sposobu dostarczenia, jaki ustawiłaś/eś zostanie pobrana opłata:</span><br><br>
        <span>Kurier DPD</span> - Płatność przed wysyłką, na konto podane poniżej.<br>
        <span >Kurier DPD pobranie</span> - Płatność kurierowi przy odbiorze.<br>
        <span >Wysyłka zagranicę DPD</span> - Płatność przed wysyłką, na konto podane poniżej.<br>
    <hr>
       <p class="text-primary font-weight-bold">Po zaksięgowaniu wpłaty, całość zostanie wysłana na podany adres!</p>
    <hr>    

   
    <br>
    <br>
    <div class="col-lg-5 mx-auto mt-4">
        <h3 class="text-center text-primary font-weight-normal">Konto bankowe<br><br></h3>
        <p><strong>Nazwa:</strong> Panienka z okienka</p>
        <p><strong>Nr Konta:</strong> 71 1090 2590 0000 0001 4431 7841</p>
        <p><strong>Tytuł:</strong> (W tytule proszę podać swoję imię i nazwisko podane w formularzu, lub numer zamówienia)<br><br><br>
            
    
        <strong class="text-success">Masz pytania? Dzwoń: 601956515 / 601749515</strong>
        <br>
        <br>
        <br>
        
        
    </div>
   
</div>