<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
    Podsumowanie zamówienia
</div>
<div class="p-4">
    <ul class="list-unstyled mb-4" >
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Koszt produktów</strong>
            <strong>{{Subtotal}}.00 zł</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Wysyłka i doręczenie</strong>
            <strong>{{Shipping}}.00 zł</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Podsumowanie zamówienia</strong>
            <strong>{{Total}}.00 zł</strong>
        </li>
    </ul>
</div>