<div class="container mt-5">
    <div class="i fa fa-check-circle fa-5x" style="color: green;"></div>
    <h2>Dziękuję. Twoje zamówienie zostało potwierdzone</h2>

    <p class="mt-3 h5">W zakładce <a class="h4" routerLink="/information/delivery-payments">płatności</a> omówiłam w jaki sposób odbywa się płatność oraz dostarczenie </p>
    <ng-container>
        <button *ngIf="(currentUser$ | async) !== null && order" routerLink="/orders/{{order?.id}}" class="btn btn-outline-success">Zobacz swoje zamówienie</button>
    </ng-container>

    <ng-container>
        <button *ngIf="(currentUser$ | async) !== null && !order" routerLink="/orders" class="btn btn-outline-success">Zobacz wszystkie swoje zamówienia</button>
    </ng-container>
</div>