

<div class="row m-0  ">
   <div class="col-lg-6 p-2 ">
       <img src="../../assets/1581597028_firany-na-wymiar-alena.jpg" class="img-start"> 
   </div>
   <div class="col-lg-6 p-2">
       <img src="../../assets/JAK-UPIĄĆ-FIRANY-ABY-WYGLĄDAŁY-MODNIE-I-NOWOCZEŚNIE.jpg" class="img-start  ">
   </div>
</div>

<div class="text-center">
  <div class="m-4">
    <h2 class="text-primary" >Nowości</h2>
    <h4 class="small_label btn" [routerLink]="['/nowosci']">Zobacz wszystkie</h4>
  </div>
</div>

 
  <div class="row mx-0 my-3 p-2 text-center ">
    
      <div class="col-lg-4"> 
        <img src="../../assets/JAK-UPIĄĆ-FIRANY-ABY-WYGLĄDAŁY-MODNIE-I-NOWOCZEŚNIE.jpg" class="img-new ">
        <h6>Cum sociis natoque penatibus et </h6>
        <h5 class="text-primary ">99.99 zł</h5>
      </div>
    

    
      <div class="col-lg-4"> 
        <img src="../../assets/JAK-UPIĄĆ-FIRANY-ABY-WYGLĄDAŁY-MODNIE-I-NOWOCZEŚNIE.jpg" class="img-new ">
        <h6>Cum sociis natoque penatibus et </h6>
        <h5 class="text-primary ">99.99 zł</h5>
      </div>
   

   
      <div class="col-lg-4"> 
        <img src="../../assets/JAK-UPIĄĆ-FIRANY-ABY-WYGLĄDAŁY-MODNIE-I-NOWOCZEŚNIE.jpg" class="img-new ">
        <h6>Cum sociis natoque penatibus et </h6>
        <h5 class="text-primary ">99.99 zł</h5>
      </div>
  
  </div>


  <div class="row p-3 mx-auto ">
    <div class="small_card col-md-3 btn" [routerLink]="['/firany']">
       <i class="fa fa-cutlery"></i>
       <p class="lead ">Firany na miarę</p>
    </div>
    <div class="small_card col-md-3 btn" [routerLink]="['/obrusy']">
      <i class="fa fa-table"></i>
       <p class="lead">Obrusy i poszewki</p>
    </div>
    <div class="small_card col-md-3">
       <i class="fa fa-car"></i>
       <p class="lead">Dostawy za granicę</p>
    </div>
 </div>
