<div class="card border-0">
    <div class="d-flex flex-column card-body p-3">

        <h3 class="card-title text-center">{{product.name}}</h3>
        <h3 class="text-warning price text-center"><strong>{{product.price}}.00 zł</strong></h3>
        <h5 class="card-subtitle text-muted mt-3">Powyższa cena jest dostosowana to wymiarów:</h5>
        <div class="d-flex justify-content-between  mt-2">
            <p class="card-text">Szerokość <strong>{{product.width}}cm</strong></p>
            <p class="card-text">Wysokość <strong>{{product.height}}cm</strong></p>
        </div>

        <ng-container *ngIf="changeModeSize">
            <form [formGroup]="sizeForm" (ngSubmit)="saveSize()">
                <div class="from-group row mb-3">
                    <h4 class="col-2 my-auto card-subtitle text-muted text-center"><i class="fa fa-arrows-h"></i></h4>
                    <ngx-slider class="col-10" [(value)]="newWidth" formControlName="width" [options]="options"></ngx-slider>
                </div>
                <div class="from-group row">
                    <h4 class="col-2 my-auto card-subtitle text-muted text-center"><i class="fa fa-arrows-v"></i></h4>
                    <ngx-slider class="col-10" [(value)]="newHeight" formControlName="height" [options]="options"></ngx-slider>
                </div>
        
                <div class="btn-group d-flex mt-4">
                    <button class="btn btn-secondary" (click)="cancel()">Przywróć domyślne</button>
                    <button class="btn btn-success" type="submit" [disabled]="!sizeForm.valid">Zapisz rozmiar</button>
                </div>
            </form>
        </ng-container>

        <ng-container *ngIf="!changeModeSize">
            <button class="btn btn-block btn-warning " (click)="changeSize()">Ustaw swój rozmiar</button>
        </ng-container>


        <button (click)="addItemToBasket()" class="mt-2 btn btn-block btn-primary btn-lg ">Dodaj do
            koszyka  <i class="fa fa-shopping-cart"></i></button>

    </div>
</div>